{
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": true,
        "loose": true,
        "bugfixes": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}